NEXT_PUBLIC_SUPABASE_URL=https://ellukppgdggivtxkxoij.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsbHVrcHBnZGdnaXZ0eGt4b2lqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNzk3NTQsImV4cCI6MjA1OTg1NTc1NH0.euYe5i88z68RV_4Yg2uknYSq7IT4_gGoONEHI816ggI
NEXT_PUBLIC_OPENAI_API_KEY=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
